.game__container{
    width: 700px;
    height: calc(100vh - 300px);
    margin: 100px auto;
    background: rgb(0, 234, 255);
    border: 2px solid black;
    position: relative;

    ::ng-deep .platform{
        width: 100px;
        height: auto;
        position: absolute;
        z-index: 2;
        background: rgba(0, 234, 255, 0);
    }

    ::ng-deep #doodler{
        width: 160px;
        height: 160px;
        z-index: 1;
        position: absolute;
    }
}

